[Desktop Entry]
Type=Application
Name=PulsarOS Welcome App
Comment=Easily Install Reccomended Programs, Drivers, and more
Exec=/usr/bin/python3 /usr/bin/pulsaros-welcome-app.py --force
Icon=/usr/share/icons/hicolor/scalable/apps/welcome-app.svg
Categories=System;
Terminal=false
